// colorscheme(generated)
$bg: #151918;
$fg: #feffff;
$inactive: #5d7589;
$darkblue: #3f666f;
$cyan: #93a3b1;
$green: #297134;
$orange: #88aac8;
$pink: #aad5fb;
$purple: #77898d;
$red: #846d47;
$yellow: #644b34;


$btblue: #468b9b;
