// colorscheme(generated)
$bg: #181918;
$fg: #ffffff;
$inactive: #666332;
$darkblue: #2d414b;
$cyan: #826939;
$green: #858252;
$orange: #949049;
$pink: #b58c3d;
$purple: #755348;
$red: #734c30;
$yellow: #cc8f57;


$btblue: #325769;
