// colorscheme(generated)
$bg: #191615;
$fg: #fffefe;
$inactive: #78473b;
$darkblue: #bd7639;
$cyan: #ce9064;
$green: #6e3b14;
$orange: #af6755;
$pink: #ffb76e;
$purple: #9d6b5f;
$red: #9c5e2a;
$yellow: #edb982;


$btblue: #ff983a;
