* {
  all: unset;
  font-family: "SauceCodePro NF";
}

.popup {
  color: #50fa7b;
}

.bar, tooltip {
  background-color: transparent;
  margin: 5px;
  margin-bottom: 0px;
  border-radius: 16px;
}

.workspaces {
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: rgba(21, 25, 24, 0.5);
}

.right {
  border-radius: 16px;
  padding-left: 10px;
  opacity: 0.5;
  background-color: #151918;
}

.center {
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.5;
  background-color: #151918;
}

.time-text {
  font-size: 16px;
}

.reboot-button {
  font-size: 28px;
  color: #3f666f;
}

.sleep-button {
  font-size: 28px;
  color: #3f666f;
}

.exit-button {
  font-size: 28px;
  color: #3f666f;
}

.power-button {
  font-size: 28px;
  color: #846d47;
}

.system-confirm {
  color: #297134;
}

trough {
  border-radius: 3px;
  border-width: 1px;
  border-style: none;
  background-color: #5d7589;
  min-width: 4px;
  min-height: 4px;
}

slider {
  border-radius: 0%;
  border-width: 1px;
  border-style: none;
  margin: -9px -9px -9px -9px;
  min-width: 16px;
  min-height: 16px;
  background-color: transparent;
}

highlight {
  border-radius: 3px;
  border-width: 1px;
  border-style: none;
  min-width: 6px;
  min-height: 6px;
}

.audio-icon {
  font-size: 24px;
  color: #88aac8;
}

.audio-volume {
  font-size: 16px;
  color: #88aac8;
}
.audio-volume trough {
  background-color: #5d7589;
}
.audio-volume slider {
  background-color: transparent;
}
.audio-volume highlight {
  background-color: #88aac8;
}

.mic-icon {
  font-size: 24px;
  color: #77898d;
}

.mic-volume {
  font-size: 16px;
  color: #77898d;
}
.mic-volume trough {
  background-color: #5d7589;
}
.mic-volume slider {
  background-color: transparent;
}
.mic-volume highlight {
  background-color: #77898d;
}

.package-outofdate {
  margin: -5px -5px -5px -5px;
  font-size: 24px;
  color: #846d47;
}

.bt-num {
  font-size: 16px;
  color: #468b9b;
}

.bt-label-on {
  font-size: 20px;
  color: #468b9b;
}

.bt-label-off {
  font-size: 24px;
  color: #468b9b;
}

.bt-label-connected {
  font-size: 28px;
  color: #468b9b;
}

.disk-util-progress {
  color: #77898d;
  background-color: #5d7589;
  font-size: 16px;
}

.disk-data-text {
  color: #77898d;
  font-size: 16px;
}

.vram-util-progress {
  color: #88aac8;
  background-color: #5d7589;
}

.vram-data-text {
  color: #88aac8;
  font-size: 16px;
}

.ram-util-progress {
  color: #644b34;
  background-color: #5d7589;
}

.ram-data-text {
  color: #644b34;
  font-size: 16px;
}

.gpu-util-progress {
  color: #93a3b1;
  background-color: #5d7589;
}

.gpu-data-text {
  color: #93a3b1;
  font-size: 16px;
}

.cpu-util-progress {
  color: #297134;
  background-color: #5d7589;
  font-size: 16px;
}

.cpu-data-text {
  color: #297134;
  font-size: 16px;
}

.battery-util-progress {
  color: #aad5fb;
  background-color: #5d7589;
  font-size: 16px;
}

.battery-data-text {
  color: #aad5fb;
  font-size: 16px;
}

.battery-charging {
  color: #88aac8;
}

.network-data-text {
  color: #297134;
  font-size: 16px;
}

.network-up-under {
  color: #5d7589;
}

.network-up-low {
  color: #297134;
}

.network-up-mid-low {
  color: #644b34;
}

.network-up-mid-high {
  color: #88aac8;
}

.network-up-high {
  color: #77898d;
}

.network-up-over {
  color: #846d47;
}

.network-down-under {
  color: #5d7589;
}

.network-down-low {
  color: #297134;
}

.network-down-mid-low {
  color: #644b34;
}

.network-down-mid-high {
  color: #88aac8;
}

.network-down-high {
  color: #77898d;
}

.network-down-over {
  color: #846d47;
}

.ws-dead {
  color: #5d7589;
  opacity: 0.4;
  font-size: 16px;
}

.ws-inactive {
  color: #5d7589;
  font-size: 16px;
}

.ws-visible {
  color: #93a3b1;
  font-size: 16px;
}

.ws-current {
  color: #644b34;
  font-size: 16px;
}

.ws-active {
  color: #88aac8;
  font-size: 18px;
  margin-bottom: 1px;
}

@keyframes connectanim {
  from {
    background-image: radial-gradient(circle farthest-side at center, #468b9b 0%, transparent 0%, transparent 100%);
  }
  to {
    background-image: radial-gradient(circle farthest-side at center, #468b9b 0%, #468b9b 100%, transparent 100%);
  }
}
@keyframes disconnectanim {
  from {
    background-image: radial-gradient(circle farthest-side at center, transparent 0%, #468b9b 0%, #468b9b 100%);
  }
  to {
    background-image: radial-gradient(circle farthest-side at center, transparent 0%, transparent 100%, #468b9b 100%);
  }
}
@keyframes scanonanim {
  from {
    color: #644b34;
  }
  to {
    color: #297134;
  }
}
@keyframes scanoffanim {
  from {
    color: #297134;
  }
  to {
    color: #644b34;
  }
}
.bt-bg {
  background-color: #151918;
  border-radius: 16px;
}

.bt-header-box {
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 24px;
  color: #468b9b;
}

.bt-body-box {
  margin-right: 8px;
  margin-left: 8px;
}

.bt-button {
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 16px;
}
.bt-button.active {
  animation-name: connectanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-button.inactive {
  animation-name: disconnectanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-button.failed {
  color: #846d47;
}

.bt-close {
  color: #846d47;
  background-color: #5d7589;
  border-radius: 16px;
  padding: 0px 8px 0px 7px;
  margin: 0px 0px 0px 8px;
}

.bt-scan {
  color: #644b34;
  background-color: #5d7589;
  border-radius: 16px;
  padding: 2px 11px 0px 7px;
  margin: 0px 0px 0px 10px;
  font-size: 18px;
}
.bt-scan.active {
  animation-name: scanonanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-scan.inactive {
  animation-name: scanoffanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
